/**
 * Definición de variables CSS personalizadas para el esquema de colores del sitio.
 * Estas variables proporcionan coherencia y facilidad de mantenimiento al permitir cambios globales en el esquema de colores del sitio.
 */
:root {
  --primary: #0f0f0f;
  --secondary: #ffffff;
  --accent: #13a2b9;
  --contrast: #fbff1c;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.custom-logo {
  height: 30px;
  width: auto;
}
.custom-logo-text {
  font-size: 14px;
  color: var(--secondary);
}
li a {
  color: var(--secondary) !important;
}
.custom-carrousel {
  width: 100vw !important;
}
.custom-icon {
  background-color: var(--accent);
  text-align: center;
}
.custom-bg {
  background-color: var(--primary);
  color: var(--secondary);
}
.card-body {
  background-color: var(--accent);
}

.card-body h6 {
  color: var(--secondary) !important;
}
.card-body p {
  color: var(--secondary) !important;
  font-size: 14px;
}
.custom-button {
  background-color: var(--accent) !important;
}

.custom-size-footer {
  font-size: 30px !important;
}
.custom-footer {
  background-color: var(--accent);
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}
.custom-icons {
  display: flex;
  flex-direction: row;
}
.custom-icons a {
  color: var(--secondary);
}
@media only screen and (max-width: 480px) {
  .custom-footer {
    flex-direction: column;
  }
  .custom-footer h2 {
    font-size: 1.4rem !important;
    text-align: center !important;
  }
  .custom-icons {
    align-items: center;
    justify-content: center;
    text-align: center !important;
  }
}
